.button {
  border: 2px solid #e0e0e0;
  padding: 6px 20px;

  position: relative;
}

.buttonWithIcon {
  composes: button;

  padding-left: 40px;
}

.icon {
  position: absolute;
  left: 6px;
  top: 4px;
}

.fulfilled {
  background-color: #e0e0e0;
}