.button {
  border: 2px solid #c9c9c9;
  padding: 6px 20px;

  position: relative;
}

.buttonWithIcon {
  composes: button;

  padding-left: 40px;
}

.icon {
  position: absolute;
  left: 6px;
  top: 4px;
}