.container {
  text-align: center;
  border-collapse: collapse;
  
  width: 100%;
  min-width: 1050px;
}

.title {
  top: 0px;
}

.wrraper {
  overflow-x: scroll;
}

.title-row {
  font-weight: 600;
  font-size: 18px;
  height: 55px;
}

.title-cell {
  padding: 3px 10px;
}